/* Main styles */
html {
  box-sizing: border-box;
  font: 16px sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.tetris {
  display: flex;
  /* padding: 8px; */
  /* margin: 0 auto; */
  width: 500px;
}

.tetris-board {
  display: flex;
  justify-content: space-between;
}

.tetris-board__info {
  width: 100px;
}

.tetris-board__text {
  font-size: 18px;
  color: #111;
}

.tetris-board__row {
  display: flex;
}

/* Styles for tiles */
[class*=col-] {
  padding: 12px;
  border: 1px solid #1a1c19;
}

/* Default (empty) board column */
.col-0 {
  background-color: #020202;
}

/* Colors for tiles */
.col-1 {
  background-color: #f21620;
}

.col-2 {
  background-color: #10ac84;
}

.col-3 {
  background-color: #5f27cd;
}

.col-4 {
  background-color: #d925cf;
}

.col-5 {
  background-color: #48dbfb;
}

.col-6 {
  background-color: #fd4964;
}

.col-7 {
  background-color: #72fa4e;
}

/* Styles for buttons */
.tetris__block-controls,
.tetris__game-controls {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.tetris__game-controls {
  margin-bottom: 16px;
}

.btn {
  padding: 12px 21px;
  height: 40px;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #5d5d5d;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .25s ease-in;
}

.btn:hover {
  background-color: #828282;
}

